Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh

Update unit abbreviation
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update unit abbreviation
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Remove left-over links to registration_document
  app/views/units/show.html.erb
  config/locales/models/units/en.yml
  config/locales/models/units/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove left-over links to registration_document
  app/views/units/show.html.erb
  config/locales/models/units/en.yml
  config/locales/models/units/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Find parent units with detsis_id too
  app/controllers/committee/dashboard_controller.rb
  app/models/unit.rb
  app/views/committee/dashboard/index.html.erb
  app/views/units/index.html.erb
  config/locales/models/committees/en.yml
  config/locales/models/committees/tr.yml
  lib/tasks/import/units.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Find parent units with detsis_id too
  app/controllers/committee/dashboard_controller.rb
  app/models/unit.rb
  app/views/committee/dashboard/index.html.erb
  app/views/units/index.html.erb
  config/locales/models/committees/en.yml
  config/locales/models/committees/tr.yml
  lib/tasks/import/units.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Skip xokul related tests on CI
  test/system/sign_up_page_flow_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Skip xokul related tests on CI
  test/system/sign_up_page_flow_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix rubocop offense
  test/system/sign_up_page_flow_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix rubocop offense
  test/system/sign_up_page_flow_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Expire user sessions after 45minutes of inactivity
  app/helpers/toastr_helper.rb
  app/models/user.rb
  app/views/layouts/shared/_toastr.html.erb
  config/initializers/devise.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Expire user sessions after 45minutes of inactivity
  app/helpers/toastr_helper.rb
  app/models/user.rb
  app/views/layouts/shared/_toastr.html.erb
  config/initializers/devise.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Set active academic term of available course
  app/controllers/course_management/available_courses_controller.rb
  app/models/available_course.rb
  app/views/course_management/available_courses/_form.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Set active academic term of available course
  app/controllers/course_management/available_courses_controller.rb
  app/models/available_course.rb
  app/views/course_management/available_courses/_form.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix available course pages
  app/helpers/icon_helper.rb
  app/views/course_management/available_course_groups/_form.html.erb
  app/views/course_management/available_course_groups/edit.html.erb
  app/views/course_management/available_course_groups/new.html.erb
  app/views/course_management/available_courses/_form.html.erb
  app/views/course_management/available_courses/_groups.html.erb
  app/views/course_management/available_courses/edit.html.erb
  app/views/course_management/available_courses/show.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  test/controllers/course_management/available_course_groups_controller_test.rb
  test/controllers/course_management/available_courses_controller_test.rb
  test/fixtures/academic_terms.yml
  test/fixtures/available_course_groups.yml
  test/fixtures/available_courses.yml
  test/models/available_course_group_test.rb
  test/models/available_course_lecturer_test.rb
  test/models/available_course_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix available course pages
  app/helpers/icon_helper.rb
  app/views/course_management/available_course_groups/_form.html.erb
  app/views/course_management/available_course_groups/edit.html.erb
  app/views/course_management/available_course_groups/new.html.erb
  app/views/course_management/available_courses/_form.html.erb
  app/views/course_management/available_courses/_groups.html.erb
  app/views/course_management/available_courses/edit.html.erb
  app/views/course_management/available_courses/show.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  test/controllers/course_management/available_course_groups_controller_test.rb
  test/controllers/course_management/available_courses_controller_test.rb
  test/fixtures/academic_terms.yml
  test/fixtures/available_course_groups.yml
  test/fixtures/available_courses.yml
  test/models/available_course_group_test.rb
  test/models/available_course_lecturer_test.rb
  test/models/available_course_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create evaluation type's MVC
  app/controllers/references/evaluation_types_controller.rb
  app/models/evaluation_type.rb
  app/views/layouts/shared/_sidebar.html.erb
  app/views/references/evaluation_types/_form.html.erb
  app/views/references/evaluation_types/edit.html.erb
  app/views/references/evaluation_types/index.html.erb
  app/views/references/evaluation_types/new.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/references/evaluation_types.en.yml
  config/locales/models/references/evaluation_types.tr.yml
  config/routes/references.rb
  db/migrate/20190115062149_create_evaluation_types.rb
  db/structure.sql
  test/fixtures/evaluation_types.yml
  test/models/evaluation_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create evaluation type's MVC
  app/controllers/references/evaluation_types_controller.rb
  app/models/evaluation_type.rb
  app/views/layouts/shared/_sidebar.html.erb
  app/views/references/evaluation_types/_form.html.erb
  app/views/references/evaluation_types/edit.html.erb
  app/views/references/evaluation_types/index.html.erb
  app/views/references/evaluation_types/new.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/references/evaluation_types.en.yml
  config/locales/models/references/evaluation_types.tr.yml
  config/routes/references.rb
  db/migrate/20190115062149_create_evaluation_types.rb
  db/structure.sql
  test/fixtures/evaluation_types.yml
  test/models/evaluation_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add evaluation type's controller test
  test/controllers/references/evaluation_types_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add evaluation type's controller test
  test/controllers/references/evaluation_types_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add evaluation types to beta seed
  db/beta_seed/evaluation_type.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add evaluation types to beta seed
  db/beta_seed/evaluation_type.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create course evaluation type model
  app/models/available_course.rb
  app/models/course_evaluation_type.rb
  app/models/evaluation_type.rb
  db/migrate/20190115100844_create_course_evaluation_types.rb
  db/structure.sql
  test/fixtures/course_evaluation_types.yml
  test/models/available_course_test.rb
  test/models/course_evaluation_type_test.rb
  test/models/evaluation_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create course evaluation type model
  app/models/available_course.rb
  app/models/course_evaluation_type.rb
  app/models/evaluation_type.rb
  db/migrate/20190115100844_create_course_evaluation_types.rb
  db/structure.sql
  test/fixtures/course_evaluation_types.yml
  test/models/available_course_test.rb
  test/models/course_evaluation_type_test.rb
  test/models/evaluation_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix path generation issues
  app/controllers/admin/countries_controller.rb
  app/controllers/admin/districts_controller.rb
  app/controllers/admin/document_types_controller.rb
  app/controllers/admin/languages_controller.rb
  app/controllers/admin/titles_controller.rb
  app/controllers/calendar_management/calendar_event_types_controller.rb
  app/controllers/calendar_management/calendars_controller.rb
  app/controllers/first_registration/prospective_students_controller.rb
  app/models/registration_document.rb
  app/services/first_registration/prospective_student_service.rb
  app/views/calendar_management/calendars/index.html.erb
  app/views/first_registration/prospective_students/show.html.erb
  app/views/first_registration/registration_documents/index.html.erb
  config/locales/controllers/first_registration/registration_documents.en.yml
  config/locales/controllers/first_registration/registration_documents.tr.yml
  db/beta_seed/academic_term.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix path generation issues
  app/controllers/admin/countries_controller.rb
  app/controllers/admin/districts_controller.rb
  app/controllers/admin/document_types_controller.rb
  app/controllers/admin/languages_controller.rb
  app/controllers/admin/titles_controller.rb
  app/controllers/calendar_management/calendar_event_types_controller.rb
  app/controllers/calendar_management/calendars_controller.rb
  app/controllers/first_registration/prospective_students_controller.rb
  app/models/registration_document.rb
  app/services/first_registration/prospective_student_service.rb
  app/views/calendar_management/calendars/index.html.erb
  app/views/first_registration/prospective_students/show.html.erb
  app/views/first_registration/registration_documents/index.html.erb
  config/locales/controllers/first_registration/registration_documents.en.yml
  config/locales/controllers/first_registration/registration_documents.tr.yml
  db/beta_seed/academic_term.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix failing tests
  app/services/first_registration/prospective_student_service.rb
  test/services/first_registration/prospective_student_service_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix failing tests
  app/services/first_registration/prospective_student_service.rb
  test/services/first_registration/prospective_student_service_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix bug in prospective_students#show
  app/models/registration_document.rb
  app/views/first_registration/prospective_students/show.html.erb
  config/locales/controllers/admin/document_types.en.yml
  config/locales/controllers/admin/document_types.tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix bug in prospective_students#show
  app/models/registration_document.rb
  app/views/first_registration/prospective_students/show.html.erb
  config/locales/controllers/admin/document_types.en.yml
  config/locales/controllers/admin/document_types.tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove and git ignore direnv envrc file
  .envrc
  .gitignore
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Remove and git ignore direnv envrc file
  .envrc
  .gitignore
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Add skipped test to detect non-uniq unit names
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/src_many.rb
Owners: none

Add skipped test to detect non-uniq unit names
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/src_many.rb
Owners: none

Reproduce units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Reproduce units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Add view and controller of course evaluation type
  app/controllers/course_management/available_courses_controller.rb
  app/controllers/course_management/course_evaluation_criterion_types_controller.rb
  app/controllers/course_management/course_evaluation_types_controller.rb
  app/controllers/references/evaluation_types_controller.rb
  app/models/course_evaluation_type.rb
  app/views/course_management/available_courses/_evaluation_types.html.erb
  app/views/course_management/available_courses/_groups.html.erb
  app/views/course_management/available_courses/index.html.erb
  app/views/course_management/available_courses/show.html.erb
  app/views/course_management/course_evaluation_criterion_types/edit.html.erb
  app/views/course_management/course_evaluation_criterion_types/new.html.erb
  app/views/course_management/course_evaluation_types/_form.html.erb
  app/views/course_management/course_evaluation_types/edit.html.erb
  app/views/course_management/course_evaluation_types/index.html.erb
  app/views/course_management/course_evaluation_types/new.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  config/routes/course_management.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add view and controller of course evaluation type
  app/controllers/course_management/available_courses_controller.rb
  app/controllers/course_management/course_evaluation_criterion_types_controller.rb
  app/controllers/course_management/course_evaluation_types_controller.rb
  app/controllers/references/evaluation_types_controller.rb
  app/models/course_evaluation_type.rb
  app/views/course_management/available_courses/_evaluation_types.html.erb
  app/views/course_management/available_courses/_groups.html.erb
  app/views/course_management/available_courses/index.html.erb
  app/views/course_management/available_courses/show.html.erb
  app/views/course_management/course_evaluation_criterion_types/edit.html.erb
  app/views/course_management/course_evaluation_criterion_types/new.html.erb
  app/views/course_management/course_evaluation_types/_form.html.erb
  app/views/course_management/course_evaluation_types/edit.html.erb
  app/views/course_management/course_evaluation_types/index.html.erb
  app/views/course_management/course_evaluation_types/new.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  config/routes/course_management.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh
