Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

Fix bin/rails ENGINE_ROOT
  plugins/tenant/omu/bin/rails
Owners: none

Fix bin/rails ENGINE_ROOT
  plugins/tenant/omu/bin/rails
Owners: none

Remove nokul Gem
  Gemfile
  Gemfile.lock
  nokul.gemspec
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove nokul Gem
  Gemfile
  Gemfile.lock
  nokul.gemspec
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Move DEFAULT_TENANT to nokul-tenant
  config/application.rb
  plugins/tenant/common/lib/nokul/tenant.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Move DEFAULT_TENANT to nokul-tenant
  config/application.rb
  plugins/tenant/common/lib/nokul/tenant.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove lib/nokul
  lib/nokul.rb
  lib/nokul/version.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove lib/nokul
  lib/nokul.rb
  lib/nokul/version.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Use autoloaded app/lib directory to put application libraries
  app/lib/nokul/version.rb
  app/lib/support.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Use autoloaded app/lib directory to put application libraries
  app/lib/nokul/version.rb
  app/lib/support.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add a new release task file with a version bump task
  lib/tasks/release.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add a new release task file with a version bump task
  lib/tasks/release.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Cleanup Rubocop configuration
  .rubocop.yml
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Cleanup Rubocop configuration
  .rubocop.yml
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Mute dpkg
  lib/scripts/preinst.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Mute dpkg
  lib/scripts/preinst.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove confusing bin/bundle wrappers
  plugins/support/bin/bundle
  plugins/tenant/common/bin/bundle
  plugins/tenant/omu/bin/bundle
Owners: none

Remove confusing bin/bundle wrappers
  plugins/support/bin/bundle
  plugins/tenant/common/bin/bundle
  plugins/tenant/omu/bin/bundle
Owners: none

Handle NODE_MODULES_PATH properly without touching Yarn defaults
  lib/scripts/deploy.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Handle NODE_MODULES_PATH properly without touching Yarn defaults
  lib/scripts/deploy.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

New pattern for capitalization
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
Owners: none

New pattern for capitalization
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
Owners: none

Fix unit type
  plugins/tenant/common/lib/nokul/tenant/units/raw/det_many.rb
Owners: none

Fix unit type
  plugins/tenant/common/lib/nokul/tenant/units/raw/det_many.rb
Owners: none

Update units data (thanks @begum)
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units data (thanks @begum)
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Remove "parent_yoksis_id_" field
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Remove "parent_yoksis_id_" field
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Simplify Tenant interface
  app/lib/tenant.rb
  config/environments/production.rb
  config/initializers/devise.rb
  lib/tasks/import/units.rake
  plugins/tenant/common/lib/nokul/tenant.rb
  plugins/tenant/common/lib/nokul/tenant/engine.rb
  plugins/tenant/common/lib/nokul/tenant/initialize.rb
  test/config/tenant_config_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Simplify Tenant interface
  app/lib/tenant.rb
  config/environments/production.rb
  config/initializers/devise.rb
  lib/tasks/import/units.rake
  plugins/tenant/common/lib/nokul/tenant.rb
  plugins/tenant/common/lib/nokul/tenant/engine.rb
  plugins/tenant/common/lib/nokul/tenant/initialize.rb
  test/config/tenant_config_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Ooops
  plugins/tenant/common/lib/nokul/tenant/engine.rb
Owners: none

Ooops
  plugins/tenant/common/lib/nokul/tenant/engine.rb
Owners: none

s/Rails.application.config/Tenant.configuration/
  app/mailers/application_mailer.rb
  app/models/user.rb
  app/services/vcard_builder_service.rb
  app/services/xokul/connection.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

s/Rails.application.config/Tenant.configuration/
  app/mailers/application_mailer.rb
  app/models/user.rb
  app/services/vcard_builder_service.rb
  app/services/xokul/connection.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

s/Rails.application.config/Tenant.configuration/
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/layouts/mailer.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

s/Rails.application.config/Tenant.configuration/
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/layouts/mailer.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix parent info
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Fix parent info
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh
