Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

Move country, city and district to admin namespace
  .circleci/config.yml
  app/controllers/admin/cities_controller.rb
  app/controllers/admin/countries_controller.rb
  app/controllers/admin/districts_controller.rb
  app/views/admin/cities/_form.html.erb
  app/views/admin/cities/edit.html.erb
  app/views/admin/cities/new.html.erb
  app/views/admin/cities/show.html.erb
  app/views/admin/countries/_form.html.erb
  app/views/admin/countries/edit.html.erb
  app/views/admin/countries/index.html.erb
  app/views/admin/countries/new.html.erb
  app/views/admin/countries/show.html.erb
  app/views/admin/districts/_form.html.erb
  app/views/admin/districts/edit.html.erb
  app/views/admin/districts/new.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/routes.rb
  config/routes/admin.rb
  config/routes/references.rb
  test/controllers/admin/cities_controller_test.rb
  test/controllers/admin/countries_controller_test.rb
  test/controllers/admin/districts_controller_test.rb
Owners: @msdundar, @roktas, @huseyin, @ecylmz, @ecmelkytz, @dilara, @isubas, @sinansh

Move country, city and district to admin namespace
  .circleci/config.yml
  app/controllers/admin/cities_controller.rb
  app/controllers/admin/countries_controller.rb
  app/controllers/admin/districts_controller.rb
  app/views/admin/cities/_form.html.erb
  app/views/admin/cities/edit.html.erb
  app/views/admin/cities/new.html.erb
  app/views/admin/cities/show.html.erb
  app/views/admin/countries/_form.html.erb
  app/views/admin/countries/edit.html.erb
  app/views/admin/countries/index.html.erb
  app/views/admin/countries/new.html.erb
  app/views/admin/countries/show.html.erb
  app/views/admin/districts/_form.html.erb
  app/views/admin/districts/edit.html.erb
  app/views/admin/districts/new.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/routes.rb
  config/routes/admin.rb
  config/routes/references.rb
  test/controllers/admin/cities_controller_test.rb
  test/controllers/admin/countries_controller_test.rb
  test/controllers/admin/districts_controller_test.rb
Owners: @msdundar, @roktas, @huseyin, @ecylmz, @ecmelkytz, @dilara, @isubas, @sinansh

Organize locale files as they were controller
  app/views/layouts/shared/_sidebar.html.erb
  config/locales/controllers/admin/cities.en.yml
  config/locales/controllers/admin/cities.tr.yml
  config/locales/controllers/admin/countries.en.yml
  config/locales/controllers/admin/countries.tr.yml
  config/locales/controllers/admin/districts.en.yml
  config/locales/controllers/admin/districts.tr.yml
  config/locales/models/references/en.yml
  config/locales/models/references/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Organize locale files as they were controller
  app/views/layouts/shared/_sidebar.html.erb
  config/locales/controllers/admin/cities.en.yml
  config/locales/controllers/admin/cities.tr.yml
  config/locales/controllers/admin/countries.en.yml
  config/locales/controllers/admin/countries.tr.yml
  config/locales/controllers/admin/districts.en.yml
  config/locales/controllers/admin/districts.tr.yml
  config/locales/models/references/en.yml
  config/locales/models/references/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add additional validations to yoksis references
  test/models/city_test.rb
  test/models/concerns/reference_validations_test.rb
  test/models/country_test.rb
  test/models/district_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add additional validations to yoksis references
  test/models/city_test.rb
  test/models/concerns/reference_validations_test.rb
  test/models/country_test.rb
  test/models/district_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Use conjunctions and abbreviations when titlecase
  .rubocop.yml
  app/models/city.rb
  app/models/country.rb
  app/models/identity.rb
  app/models/language.rb
  app/models/prospective_student.rb
  lib/support/core_ext/string.rb
  lib/tasks/test.rake
  test/controllers/accounts/addresses_controller_test.rb
  test/controllers/units_controller_test.rb
  test/fixtures/unit_types.yml
  test/support/core_ext/string_test.rb
Owners: @msdundar, @roktas, @isubas, @ecmelkytz, @dilara, @sinansh

Use conjunctions and abbreviations when titlecase
  .rubocop.yml
  app/models/city.rb
  app/models/country.rb
  app/models/identity.rb
  app/models/language.rb
  app/models/prospective_student.rb
  lib/support/core_ext/string.rb
  lib/tasks/test.rake
  test/controllers/accounts/addresses_controller_test.rb
  test/controllers/units_controller_test.rb
  test/fixtures/unit_types.yml
  test/support/core_ext/string_test.rb
Owners: @msdundar, @roktas, @isubas, @ecmelkytz, @dilara, @sinansh

Run test suite and system tests separately
  .circleci/config.yml
  lib/tasks/test.rake
Owners: @msdundar, @roktas, @huseyin, @ecylmz, @ecmelkytz, @dilara, @isubas, @sinansh

Run test suite and system tests separately
  .circleci/config.yml
  lib/tasks/test.rake
Owners: @msdundar, @roktas, @huseyin, @ecylmz, @ecmelkytz, @dilara, @isubas, @sinansh

Fix typo in circleci
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

Fix typo in circleci
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

Add smart search to reference pages
  app/models/concerns/reference_search.rb
  app/models/high_school_type.rb
  app/models/student_disability_type.rb
  app/models/student_drop_out_type.rb
  app/models/student_education_level.rb
  app/models/student_entrance_point_type.rb
  app/models/student_entrance_type.rb
  app/models/student_grade.rb
  app/models/student_grading_system.rb
  app/models/student_punishment_type.rb
  app/models/student_studentship_status.rb
  app/models/unit_instruction_language.rb
  app/models/unit_instruction_type.rb
  app/models/unit_status.rb
  app/models/unit_type.rb
  app/models/university_type.rb
  app/views/admin/layouts/_index.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add smart search to reference pages
  app/models/concerns/reference_search.rb
  app/models/high_school_type.rb
  app/models/student_disability_type.rb
  app/models/student_drop_out_type.rb
  app/models/student_education_level.rb
  app/models/student_entrance_point_type.rb
  app/models/student_entrance_type.rb
  app/models/student_grade.rb
  app/models/student_grading_system.rb
  app/models/student_punishment_type.rb
  app/models/student_studentship_status.rb
  app/models/unit_instruction_language.rb
  app/models/unit_instruction_type.rb
  app/models/unit_status.rb
  app/models/unit_type.rb
  app/models/university_type.rb
  app/views/admin/layouts/_index.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add search to Title model
  app/models/language.rb
  app/models/title.rb
  config/locales/controllers/admin/student_entrance_point_types.tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add search to Title model
  app/models/language.rb
  app/models/title.rb
  config/locales/controllers/admin/student_entrance_point_types.tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Keep ER diagrams in repository
  doc/er-diagrams/CalendarProposal.xml
  doc/er-diagrams/NokulDiagram.xml
  doc/er-diagrams/README.md
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Keep ER diagrams in repository
  doc/er-diagrams/CalendarProposal.xml
  doc/er-diagrams/NokulDiagram.xml
  doc/er-diagrams/README.md
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Run both test suite and system tests together
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

Run both test suite and system tests together
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

Update calendar_proposal diagram
  doc/er-diagrams/CalendarProposal.xml
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Update calendar_proposal diagram
  doc/er-diagrams/CalendarProposal.xml
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Create course criterion type model
  app/models/course_criterion_type.rb
  db/migrate/20181225103307_create_course_criterion_types.rb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create course criterion type model
  app/models/course_criterion_type.rb
  db/migrate/20181225103307_create_course_criterion_types.rb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add test of the course criterion types
  test/fixtures/course_criterion_types.yml
  test/models/course_criterion_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add test of the course criterion types
  test/fixtures/course_criterion_types.yml
  test/models/course_criterion_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create controller and views of the course criterion type
  app/controllers/course_management/course_criterion_types_controller.rb
  app/models/course_criterion_type.rb
  app/views/components/_smart_search_form.html.erb
  app/views/course_management/course_criterion_types/_form.html.erb
  app/views/course_management/course_criterion_types/edit.html.erb
  app/views/course_management/course_criterion_types/index.html.erb
  app/views/course_management/course_criterion_types/new.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  config/routes/course_management.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create controller and views of the course criterion type
  app/controllers/course_management/course_criterion_types_controller.rb
  app/models/course_criterion_type.rb
  app/views/components/_smart_search_form.html.erb
  app/views/course_management/course_criterion_types/_form.html.erb
  app/views/course_management/course_criterion_types/edit.html.erb
  app/views/course_management/course_criterion_types/index.html.erb
  app/views/course_management/course_criterion_types/new.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  config/routes/course_management.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add course criterion type to sidebar
  app/views/layouts/shared/_sidebar.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add course criterion type to sidebar
  app/views/layouts/shared/_sidebar.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

WIP: Add main calendar models and unit tests
  app/models/academic_term.rb
  app/models/calendar.rb
  app/models/calendar_event.rb
  app/models/calendar_event_type.rb
  db/beta_seed/calendar.rb
  db/migrate/20181225180258_create_calendar_event_types.rb
  db/migrate/20181225195123_create_calendars.rb
  db/migrate/20181225201818_create_calendar_events.rb
  db/structure.sql
  doc/er-diagrams/CalendarProposal.xml
  doc/postgresql/constraint-unique.md
  tenant/omu/db/calendar_event_types.yml
  tenant/omu/db/event_titles.yml
  test/fixtures/calendar_event_types.yml
  test/fixtures/calendar_events.yml
  test/fixtures/calendars.yml
  test/models/calendar_event_test.rb
  test/models/calendar_event_type_test.rb
  test/models/calendar_test.rb
  test/models/course_test.rb
  test/models/district_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

WIP: Add main calendar models and unit tests
  app/models/academic_term.rb
  app/models/calendar.rb
  app/models/calendar_event.rb
  app/models/calendar_event_type.rb
  db/beta_seed/calendar.rb
  db/migrate/20181225180258_create_calendar_event_types.rb
  db/migrate/20181225195123_create_calendars.rb
  db/migrate/20181225201818_create_calendar_events.rb
  db/structure.sql
  doc/er-diagrams/CalendarProposal.xml
  doc/postgresql/constraint-unique.md
  tenant/omu/db/calendar_event_types.yml
  tenant/omu/db/event_titles.yml
  test/fixtures/calendar_event_types.yml
  test/fixtures/calendar_events.yml
  test/fixtures/calendars.yml
  test/models/calendar_event_test.rb
  test/models/calendar_event_type_test.rb
  test/models/calendar_test.rb
  test/models/course_test.rb
  test/models/district_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Complete creating models and unit tests
  app/models/calendar.rb
  app/models/calendar_event_type.rb
  app/models/unit.rb
  app/models/unit_calendar.rb
  db/migrate/20181226013104_create_unit_calendars.rb
  db/structure.sql
  test/fixtures/unit_calendars.yml
  test/models/calendar_test.rb
  test/models/unit_calendar_test.rb
  test/models/unit_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Complete creating models and unit tests
  app/models/calendar.rb
  app/models/calendar_event_type.rb
  app/models/unit.rb
  app/models/unit_calendar.rb
  db/migrate/20181226013104_create_unit_calendars.rb
  db/structure.sql
  test/fixtures/unit_calendars.yml
  test/models/calendar_test.rb
  test/models/unit_calendar_test.rb
  test/models/unit_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Start creating controller and views
  app/controllers/academic_calendar/academic_terms_controller.rb
  app/controllers/academic_calendar/calendar_event_types_controller.rb
  app/views/academic_calendar/academic_terms/_form.html.erb
  app/views/academic_calendar/academic_terms/edit.html.erb
  app/views/academic_calendar/academic_terms/index.html.erb
  app/views/academic_calendar/academic_terms/new.html.erb
  app/views/admin/layouts/_form.html.erb
  config/routes.rb
  config/routes/academic_calendar.rb
  config/routes/calendar.rb
  test/controllers/academic_calendar/academic_terms_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Start creating controller and views
  app/controllers/academic_calendar/academic_terms_controller.rb
  app/controllers/academic_calendar/calendar_event_types_controller.rb
  app/views/academic_calendar/academic_terms/_form.html.erb
  app/views/academic_calendar/academic_terms/edit.html.erb
  app/views/academic_calendar/academic_terms/index.html.erb
  app/views/academic_calendar/academic_terms/new.html.erb
  app/views/admin/layouts/_form.html.erb
  config/routes.rb
  config/routes/academic_calendar.rb
  config/routes/calendar.rb
  test/controllers/academic_calendar/academic_terms_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add controller test
  test/controllers/course_management/course_criterion_types_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add controller test
  test/controllers/course_management/course_criterion_types_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh
