Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

Introduce NOKUL_DISABLE_ROLLBAR to avoid using Rollbar
  config/initializers/rollbar.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Introduce NOKUL_DISABLE_ROLLBAR to avoid using Rollbar
  config/initializers/rollbar.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Disable Rollbar in Vagrant PaaS which closes #649, and closes #650
  lib/scripts/paas.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Disable Rollbar in Vagrant PaaS which closes #649, and closes #650
  lib/scripts/paas.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add bin/plugdo to run given command inside all plugin directories
  bin/plugdo
Owners: none

Add bin/plugdo to run given command inside all plugin directories
  bin/plugdo
Owners: none

Add bin/cichanged to detect changes of the given paths
  bin/cichanged
Owners: none

Add bin/cichanged to detect changes of the given paths
  bin/cichanged
Owners: none

[CI] Run plugin tests (without worrying about optimizing)
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

[CI] Run plugin tests (without worrying about optimizing)
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

[CI] Plugins should be bundle installed with development
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

[CI] Plugins should be bundle installed with development
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

Use test groups inside plugins Gemfiles
  plugins/support/Gemfile
  plugins/support/Gemfile.lock
  plugins/support/nokul-support.gemspec
  plugins/tenant/common/Gemfile
  plugins/tenant/common/Gemfile.lock
  plugins/tenant/common/nokul-tenant.gemspec
  plugins/tenant/omu/Gemfile
  plugins/tenant/omu/Gemfile.lock
  plugins/tenant/omu/nokul-tenant-omu.gemspec
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Use test groups inside plugins Gemfiles
  plugins/support/Gemfile
  plugins/support/Gemfile.lock
  plugins/support/nokul-support.gemspec
  plugins/tenant/common/Gemfile
  plugins/tenant/common/Gemfile.lock
  plugins/tenant/common/nokul-tenant.gemspec
  plugins/tenant/omu/Gemfile
  plugins/tenant/omu/Gemfile.lock
  plugins/tenant/omu/nokul-tenant-omu.gemspec
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Revert plugins bundle install
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

Revert plugins bundle install
  .circleci/config.yml
Owners: @msdundar, @roktas, @huseyin, @ecylmz

More Vagrant optimizations concerning Dropbox
  Vagrantfile
  lib/scripts/deploy.sh
  lib/scripts/environment.sh
  plugins/support/Gemfile
  plugins/tenant/common/Gemfile
  plugins/tenant/omu/Gemfile
Owners: @roktas, @huseyin, @ecylmz, @sinansh, @msdundar, @ecmelkytz, @dilara, @isubas

More Vagrant optimizations concerning Dropbox
  Vagrantfile
  lib/scripts/deploy.sh
  lib/scripts/environment.sh
  plugins/support/Gemfile
  plugins/tenant/common/Gemfile
  plugins/tenant/omu/Gemfile
Owners: @roktas, @huseyin, @ecylmz, @sinansh, @msdundar, @ecmelkytz, @dilara, @isubas

Minor task UX improvement
  lib/tasks/fetch/fetch_academic_staff.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Minor task UX improvement
  lib/tasks/fetch/fetch_academic_staff.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Organize lib/tasks folder
  lib/tasks/.keep
  lib/tasks/fetch/references.rake
  lib/tasks/nokul/add_osys_entrance_type_to_prospective_students.rake
  lib/tasks/nokul/create_user_permalinks.rake
  lib/tasks/nokul/update_counter_cache.rake
  lib/tasks/post_deploy/1537989774_generate_permalinks.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Organize lib/tasks folder
  lib/tasks/.keep
  lib/tasks/fetch/references.rake
  lib/tasks/nokul/add_osys_entrance_type_to_prospective_students.rake
  lib/tasks/nokul/create_user_permalinks.rake
  lib/tasks/nokul/update_counter_cache.rake
  lib/tasks/post_deploy/1537989774_generate_permalinks.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix test coverage
  .circleci/config.yml
  lib/tasks/pull_request.rake
  lib/tasks/quality.rake
  lib/tasks/test.rake
  plugins/support/test/test_helper.rb
  plugins/tenant/common/lib/nokul/tenant.rb
  test/plugins/plugins_test.rb
  test/test_helper.rb
Owners: @msdundar, @roktas, @huseyin, @ecylmz, @ecmelkytz, @dilara, @isubas, @sinansh

Fix test coverage
  .circleci/config.yml
  lib/tasks/pull_request.rake
  lib/tasks/quality.rake
  lib/tasks/test.rake
  plugins/support/test/test_helper.rb
  plugins/tenant/common/lib/nokul/tenant.rb
  test/plugins/plugins_test.rb
  test/test_helper.rb
Owners: @msdundar, @roktas, @huseyin, @ecylmz, @ecmelkytz, @dilara, @isubas, @sinansh

Start preliminary documentation for Tenant
  plugins/tenant/common/doc/tenant.md
  plugins/tenant/common/doc/tenant_old.md
Owners: none

Start preliminary documentation for Tenant
  plugins/tenant/common/doc/tenant.md
  plugins/tenant/common/doc/tenant_old.md
Owners: none

Add units documentation for Tenant
  plugins/tenant/common/doc/tenant.md
  plugins/tenant/common/doc/units.md
Owners: none

Add units documentation for Tenant
  plugins/tenant/common/doc/tenant.md
  plugins/tenant/common/doc/units.md
Owners: none

Remove outdated documentation
  plugins/tenant/common/doc/tenant_old.md
Owners: none

Remove outdated documentation
  plugins/tenant/common/doc/tenant_old.md
Owners: none

Remove term model
  app/controllers/references/terms_controller.rb
  app/models/term.rb
  app/views/layouts/shared/_sidebar.html.erb
  app/views/references/terms/_form.html.erb
  app/views/references/terms/edit.html.erb
  app/views/references/terms/index.html.erb
  app/views/references/terms/new.html.erb
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/references/en.yml
  config/locales/models/references/tr.yml
  config/routes/references.rb
  db/beta_seed/academic_term.rb
  db/migrate/20181210120434_create_terms.rb
  db/static_data/terms.yml
  db/structure.sql
  test/controllers/references/terms_controller_test.rb
  test/fixtures/terms.yml
  test/models/term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove term model
  app/controllers/references/terms_controller.rb
  app/models/term.rb
  app/views/layouts/shared/_sidebar.html.erb
  app/views/references/terms/_form.html.erb
  app/views/references/terms/edit.html.erb
  app/views/references/terms/index.html.erb
  app/views/references/terms/new.html.erb
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/references/en.yml
  config/locales/models/references/tr.yml
  config/routes/references.rb
  db/beta_seed/academic_term.rb
  db/migrate/20181210120434_create_terms.rb
  db/static_data/terms.yml
  db/structure.sql
  test/controllers/references/terms_controller_test.rb
  test/fixtures/terms.yml
  test/models/term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Dönem enum bilgisini concern'e taşı
  app/models/academic_term.rb
  app/models/concerns/enum_for_term.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Dönem enum bilgisini concern'e taşı
  app/models/academic_term.rb
  app/models/concerns/enum_for_term.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Akademik dönem modelinde enum testini değiştir
  test/models/academic_term_test.rb
  test/models/concerns/enum_for_term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Akademik dönem modelinde enum testini değiştir
  test/models/academic_term_test.rb
  test/models/concerns/enum_for_term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Müfredat yarıyıl modeline dönem ekle
  app/models/curriculum.rb
  app/models/curriculum_semester.rb
  app/views/course_management/curriculums/_form.html.erb
  app/views/course_management/curriculums/_semester_fields.html.erb
  app/views/course_management/curriculums/_semesters.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  db/migrate/20190110113630_add_term_to_curriculum_semester.rb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Müfredat yarıyıl modeline dönem ekle
  app/models/curriculum.rb
  app/models/curriculum_semester.rb
  app/views/course_management/curriculums/_form.html.erb
  app/views/course_management/curriculums/_semester_fields.html.erb
  app/views/course_management/curriculums/_semesters.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  db/migrate/20190110113630_add_term_to_curriculum_semester.rb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh
