Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh

Upgrade dependencies
  Gemfile.lock
  config/environments/production.rb
  doc/postgresql/type-reference.md
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Upgrade dependencies
  Gemfile.lock
  config/environments/production.rb
  doc/postgresql/type-reference.md
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Fix #598
  config/environments/production.rb
  db/beta_seed/calendar.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix #598
  config/environments/production.rb
  db/beta_seed/calendar.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Extract tenant specific information to tenant
  app/views/layouts/mailer.html.erb
  lib/tasks/import/units.rake
  tenant/omu/config/config.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Extract tenant specific information to tenant
  app/views/layouts/mailer.html.erb
  lib/tasks/import/units.rake
  tenant/omu/config/config.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add created_at field to address and identity
  db/migrate/20181217163618_add_created_at_fields_to_address_and_identity.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add created_at field to address and identity
  db/migrate/20181217163618_add_created_at_fields_to_address_and_identity.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix #604
  db/migrate/20180507054557_create_identities.rb
  db/migrate/20180507131709_create_addresses.rb
  db/migrate/20181217163618_add_created_at_fields_to_address_and_identity.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix #604
  db/migrate/20180507054557_create_identities.rb
  db/migrate/20180507131709_create_addresses.rb
  db/migrate/20181217163618_add_created_at_fields_to_address_and_identity.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add timestamps to address and identity
  db/migrate/20180507054557_create_identities.rb
  db/migrate/20180507131709_create_addresses.rb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add timestamps to address and identity
  db/migrate/20180507054557_create_identities.rb
  db/migrate/20180507131709_create_addresses.rb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Typo edit in documents
  doc/postgresql/type-boolean.md
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Typo edit in documents
  doc/postgresql/type-boolean.md
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Fix unit curriculum association
  app/controllers/units_controller.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix unit curriculum association
  app/controllers/units_controller.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Refactor available course lecturer validation
  app/validators/available_course_lecturer_validator.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Refactor available course lecturer validation
  app/validators/available_course_lecturer_validator.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Modellerdeki eksik validasyonları ekle
  app/models/course_group.rb
  app/models/course_group_type.rb
  test/models/course/course_group_test.rb
  test/models/course/course_group_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Modellerdeki eksik validasyonları ekle
  app/models/course_group.rb
  app/models/course_group_type.rb
  test/models/course/course_group_test.rb
  test/models/course/course_group_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Modellerdeki eksik validasyonları ekle
  app/models/curriculum.rb
  app/models/curriculum_course.rb
  app/models/curriculum_course_group.rb
  app/validators/curriculum_course_validator.rb
  test/fixtures/curriculum_courses.yml
  test/models/course/curriculum_course_group_test.rb
  test/models/course/curriculum_course_test.rb
  test/models/course/curriculum_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Modellerdeki eksik validasyonları ekle
  app/models/curriculum.rb
  app/models/curriculum_course.rb
  app/models/curriculum_course_group.rb
  app/validators/curriculum_course_validator.rb
  test/fixtures/curriculum_courses.yml
  test/models/course/curriculum_course_group_test.rb
  test/models/course/curriculum_course_test.rb
  test/models/course/curriculum_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Müfredat için seed datası ekle ve bazı düzeltmeler yap
  db/beta_seed/curriculum_builder.rb
  db/seed_data/courses_for_bote.csv
  db/seed_data/courses_for_tarim_ekonomisi.csv
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Müfredat için seed datası ekle ve bazı düzeltmeler yap
  db/beta_seed/curriculum_builder.rb
  db/seed_data/courses_for_bote.csv
  db/seed_data/courses_for_tarim_ekonomisi.csv
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Search formundaki birim listesini düzelt
  app/views/course_management/curriculums/_search.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Search formundaki birim listesini düzelt
  app/views/course_management/curriculums/_search.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Ders gruplarının arama formunu standartlaştır
  app/controllers/course_management/course_groups_controller.rb
  app/models/course_group.rb
  app/views/course_management/course_groups/_search.html.erb
  app/views/course_management/course_groups/index.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Ders gruplarının arama formunu standartlaştır
  app/controllers/course_management/course_groups_controller.rb
  app/models/course_group.rb
  app/views/course_management/course_groups/_search.html.erb
  app/views/course_management/course_groups/index.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Js tarafında dynamic select helper'ını iyileştir
  app/assets/javascripts/helpers/dynamic_select.js
  doc/helpers/javascripts/dynamic_select.md
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Js tarafında dynamic select helper'ını iyileştir
  app/assets/javascripts/helpers/dynamic_select.js
  doc/helpers/javascripts/dynamic_select.md
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Ders açılan arama formunu standartlaştır
  app/models/available_course.rb
  app/views/course_management/available_courses/_search.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Ders açılan arama formunu standartlaştır
  app/models/available_course.rb
  app/views/course_management/available_courses/_search.html.erb
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix typo
  doc/helpers/javascripts/dynamic_select.md
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Fix typo
  doc/helpers/javascripts/dynamic_select.md
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Fixes typo
  doc/helpers/javascripts/dynamic_select.md
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Fixes typo
  doc/helpers/javascripts/dynamic_select.md
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Switch from integration test to system test for selenium
  test/integration/.keep
  test/system/.keep
  test/system/account_settings_page_flow_test.rb
  test/system/login_page_flow_test.rb
  test/system/profile_setting_flow_test.rb
  test/system/reset_password_flow_test.rb
  test/system/sign_up_page_flow_test.rb
  test/test_helper.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Switch from integration test to system test for selenium
  test/integration/.keep
  test/system/.keep
  test/system/account_settings_page_flow_test.rb
  test/system/login_page_flow_test.rb
  test/system/profile_setting_flow_test.rb
  test/system/reset_password_flow_test.rb
  test/system/sign_up_page_flow_test.rb
  test/test_helper.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Switch from integration test to system test for selenium
  lib/tasks/test.rake
  test/application_system_test_case.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Switch from integration test to system test for selenium
  lib/tasks/test.rake
  test/application_system_test_case.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh
