Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh

Remove redundant JS include tag. Fixes #636
  app/views/layouts/pdf.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove redundant JS include tag. Fixes #636
  app/views/layouts/pdf.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Move controller logic to service object
  app/controllers/calendar_management/calendars_controller.rb
  app/controllers/public_profile_controller.rb
  app/services/academic_calendars/duplicate_events_service.rb
  app/services/duplicate_service.rb
  app/services/vcard_builder_service.rb
  app/views/calendar_management/calendars/_event_fields.html.erb
  app/views/calendar_management/calendars/_form.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Move controller logic to service object
  app/controllers/calendar_management/calendars_controller.rb
  app/controllers/public_profile_controller.rb
  app/services/academic_calendars/duplicate_events_service.rb
  app/services/duplicate_service.rb
  app/services/vcard_builder_service.rb
  app/views/calendar_management/calendars/_event_fields.html.erb
  app/views/calendar_management/calendars/_form.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix #637
  app/views/calendar_management/calendars/_calendar_event_fields.html.erb
  app/views/calendar_management/calendars/_form.html.erb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix #637
  app/views/calendar_management/calendars/_calendar_event_fields.html.erb
  app/views/calendar_management/calendars/_form.html.erb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix #638
  config/locales/controllers/admin/titles.tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix #638
  config/locales/controllers/admin/titles.tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove support before moving to support plugin
  lib/support.rb
  lib/support/coding.rb
  lib/support/coding/code.rb
  lib/support/coding/generator.rb
  lib/support/coding/memory.rb
  lib/support/coding/refinery.rb
  lib/support/core_ext.rb
  lib/support/core_ext/hash.rb
  lib/support/core_ext/string.rb
  lib/support/ext.rb
  lib/support/ext/progress_bar.rb
  lib/support/rest_client.rb
  lib/support/sensitive.rb
  lib/support/simple.rb
  lib/support/simple/collection.rb
  lib/support/simple/container.rb
  lib/support/tenant.rb
  lib/support/utils.rb
  lib/support/utils/file_utils.rb
  lib/support/utils/rake_utils.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove support before moving to support plugin
  lib/support.rb
  lib/support/coding.rb
  lib/support/coding/code.rb
  lib/support/coding/generator.rb
  lib/support/coding/memory.rb
  lib/support/coding/refinery.rb
  lib/support/core_ext.rb
  lib/support/core_ext/hash.rb
  lib/support/core_ext/string.rb
  lib/support/ext.rb
  lib/support/ext/progress_bar.rb
  lib/support/rest_client.rb
  lib/support/sensitive.rb
  lib/support/simple.rb
  lib/support/simple/collection.rb
  lib/support/simple/container.rb
  lib/support/tenant.rb
  lib/support/utils.rb
  lib/support/utils/file_utils.rb
  lib/support/utils/rake_utils.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove support tests before moving to support plugin
  test/support/coding/code_test.rb
  test/support/coding/generator_test.rb
  test/support/coding/memory_test.rb
  test/support/coding/refinery_test.rb
  test/support/core_ext/string_test.rb
  test/support/rest_client_test.rb
  test/support/sensitive_test.rb
  test/support/simple/collection_test.rb
  test/support/simple/container_test.rb
  test/support/utils/file_utils_test.rb
  test/support/utils/rake_utils_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove support tests before moving to support plugin
  test/support/coding/code_test.rb
  test/support/coding/generator_test.rb
  test/support/coding/memory_test.rb
  test/support/coding/refinery_test.rb
  test/support/core_ext/string_test.rb
  test/support/rest_client_test.rb
  test/support/sensitive_test.rb
  test/support/simple/collection_test.rb
  test/support/simple/container_test.rb
  test/support/utils/file_utils_test.rb
  test/support/utils/rake_utils_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Git ignore project wise .local directory
  .gitignore
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Git ignore project wise .local directory
  .gitignore
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Refactor vagrant land
  Vagrantfile
  bin/paas
  doc/ops/dokku.md
  lib/scripts/vagrant/depends.sh
  lib/scripts/vagrant/deploy.sh
  lib/scripts/vagrant/environment.sh
  lib/scripts/vagrant/paas.sh
Owners: @roktas, @huseyin, @ecylmz, @sinansh, @msdundar, @isubas, @ecmelkytz, @dilara

Refactor vagrant land
  Vagrantfile
  bin/paas
  doc/ops/dokku.md
  lib/scripts/vagrant/depends.sh
  lib/scripts/vagrant/deploy.sh
  lib/scripts/vagrant/environment.sh
  lib/scripts/vagrant/paas.sh
Owners: @roktas, @huseyin, @ecylmz, @sinansh, @msdundar, @isubas, @ecmelkytz, @dilara

Remove unneeded requires
  Rakefile
Owners: none

Remove unneeded requires
  Rakefile
Owners: none

Update Gemfile.lock for the plugins
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Update Gemfile.lock for the plugins
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Move event_types.yml from tenant data
  db/beta_seed/calendar.rb
  db/static_data/event_types.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Move event_types.yml from tenant data
  db/beta_seed/calendar.rb
  db/static_data/event_types.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Load active tenant as early as possible
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Load active tenant as early as possible
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

From now on we'll use Rails.configuration.tenant for tenant config
  config/environments/production.rb
  config/initializers/devise.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

From now on we'll use Rails.configuration.tenant for tenant config
  config/environments/production.rb
  config/initializers/devise.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Honor NODE_MODULES_FOLDER environment to locate node_modules
  config/initializers/assets.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Honor NODE_MODULES_FOLDER environment to locate node_modules
  config/initializers/assets.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Refactor application config tests into a seperate tenant part
  test/config/application_config_test.rb
  test/config/tenant_config_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Refactor application config tests into a seperate tenant part
  test/config/application_config_test.rb
  test/config/tenant_config_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Rename capitalize_all to capitalize_turkish
  app/helpers/apa_helper.rb
  app/jobs/osym/import_prospective_students_job.rb
  app/jobs/yoksis/certifications_create_job.rb
  app/models/address.rb
  app/models/administrative_function.rb
  app/models/agenda_type.rb
  app/models/city.rb
  app/models/concerns/reference_callbacks.rb
  app/models/country.rb
  app/models/course.rb
  app/models/course_evaluation_criterion_type.rb
  app/models/course_group.rb
  app/models/course_group_type.rb
  app/models/district.rb
  app/models/identity.rb
  app/models/language.rb
  app/models/prospective_student.rb
  app/models/term.rb
  app/models/unit.rb
  lib/tasks/fetch/fetch_academic_staff.rake
  plugins/support/lib/nokul/support/core_ext/string.rb
  plugins/support/test/core_ext/string_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Rename capitalize_all to capitalize_turkish
  app/helpers/apa_helper.rb
  app/jobs/osym/import_prospective_students_job.rb
  app/jobs/yoksis/certifications_create_job.rb
  app/models/address.rb
  app/models/administrative_function.rb
  app/models/agenda_type.rb
  app/models/city.rb
  app/models/concerns/reference_callbacks.rb
  app/models/country.rb
  app/models/course.rb
  app/models/course_evaluation_criterion_type.rb
  app/models/course_group.rb
  app/models/course_group_type.rb
  app/models/district.rb
  app/models/identity.rb
  app/models/language.rb
  app/models/prospective_student.rb
  app/models/term.rb
  app/models/unit.rb
  lib/tasks/fetch/fetch_academic_staff.rake
  plugins/support/lib/nokul/support/core_ext/string.rb
  plugins/support/test/core_ext/string_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

s/Sensitive/Nokul::Support::Sensitive/g
  app/jobs/osym/import_prospective_students_job.rb
  lib/tasks/fetch/fetch_academic_staff.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

s/Sensitive/Nokul::Support::Sensitive/g
  app/jobs/osym/import_prospective_students_job.rb
  lib/tasks/fetch/fetch_academic_staff.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

s/RestClient/Nokul::Support::RestClient/g
  app/services/xokul/connection.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

s/RestClient/Nokul::Support::RestClient/g
  app/services/xokul/connection.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Nokul Support API changes
  db/beta_seed/curriculum.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Nokul Support API changes
  db/beta_seed/curriculum.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Nokul Support API changes
  db/beta_seed/curriculum.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Nokul Support API changes
  db/beta_seed/curriculum.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh
