Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

Rename some controller test
  test/controllers/course_management/course_group_types_controller_test.rb
  test/controllers/course_management/course_groups_controller_test.rb
  test/controllers/course_management/course_types_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Rename some controller test
  test/controllers/course_management/course_group_types_controller_test.rb
  test/controllers/course_management/course_groups_controller_test.rb
  test/controllers/course_management/course_types_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add pagination to criterion type
  app/views/course_management/course_criterion_types/index.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add pagination to criterion type
  app/views/course_management/course_criterion_types/index.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix capitalize_all callback
  app/models/administrative_function.rb
  app/models/city.rb
  app/models/country.rb
  app/models/course_criterion_type.rb
  app/models/course_group.rb
  app/models/course_group_type.rb
  app/models/district.rb
  app/models/language.rb
  app/models/term.rb
  app/models/unit.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix capitalize_all callback
  app/models/administrative_function.rb
  app/models/city.rb
  app/models/country.rb
  app/models/course_criterion_type.rb
  app/models/course_group.rb
  app/models/course_group_type.rb
  app/models/district.rb
  app/models/language.rb
  app/models/term.rb
  app/models/unit.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Refactor links in view files
  app/views/admin/cities/show.html.erb
  app/views/admin/countries/index.html.erb
  app/views/admin/countries/show.html.erb
  app/views/layouts/shared/_sidebar.html.erb
  config/routes.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Refactor links in view files
  app/views/admin/cities/show.html.erb
  app/views/admin/countries/index.html.erb
  app/views/admin/countries/show.html.erb
  app/views/layouts/shared/_sidebar.html.erb
  config/routes.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Tidy up db/seeds.rb
  db/seeds.rb
  db/static_data/units.yml
  lib/tasks/import/units.rake
  lib/tasks/post_deploy/1542120870_add_names_depth_cache_to_units.rake
  lib/tasks/post_deploy/1544534798_create_terms.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Tidy up db/seeds.rb
  db/seeds.rb
  db/static_data/units.yml
  lib/tasks/import/units.rake
  lib/tasks/post_deploy/1542120870_add_names_depth_cache_to_units.rake
  lib/tasks/post_deploy/1544534798_create_terms.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add controllers for calendar_event_type
  app/controllers/calendar_management/academic_terms_controller.rb
  app/controllers/calendar_management/calendar_event_types_controller.rb
  app/models/calendar_event_type.rb
  app/views/calendar_management/academic_terms/_form.html.erb
  app/views/calendar_management/academic_terms/edit.html.erb
  app/views/calendar_management/academic_terms/index.html.erb
  app/views/calendar_management/academic_terms/new.html.erb
  app/views/calendar_management/calendar_event_types/_form.html.erb
  app/views/calendar_management/calendar_event_types/edit.html.erb
  app/views/calendar_management/calendar_event_types/index.html.erb
  app/views/calendar_management/calendar_event_types/new.html.erb
  app/views/layouts/shared/_sidebar.html.erb
  config/locales/controllers/calendar_management/academic_term.en.yml
  config/locales/controllers/calendar_management/academic_term.tr.yml
  config/locales/controllers/calendar_management/calendar_event_type.en.yml
  config/locales/controllers/calendar_management/calendar_event_type.tr.yml
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/calendars/en.yml
  config/locales/models/calendars/tr.yml
  config/routes/academic_calendar.rb
  tenant/omu/db/event_types.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add controllers for calendar_event_type
  app/controllers/calendar_management/academic_terms_controller.rb
  app/controllers/calendar_management/calendar_event_types_controller.rb
  app/models/calendar_event_type.rb
  app/views/calendar_management/academic_terms/_form.html.erb
  app/views/calendar_management/academic_terms/edit.html.erb
  app/views/calendar_management/academic_terms/index.html.erb
  app/views/calendar_management/academic_terms/new.html.erb
  app/views/calendar_management/calendar_event_types/_form.html.erb
  app/views/calendar_management/calendar_event_types/edit.html.erb
  app/views/calendar_management/calendar_event_types/index.html.erb
  app/views/calendar_management/calendar_event_types/new.html.erb
  app/views/layouts/shared/_sidebar.html.erb
  config/locales/controllers/calendar_management/academic_term.en.yml
  config/locales/controllers/calendar_management/academic_term.tr.yml
  config/locales/controllers/calendar_management/calendar_event_type.en.yml
  config/locales/controllers/calendar_management/calendar_event_type.tr.yml
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/calendars/en.yml
  config/locales/models/calendars/tr.yml
  config/routes/academic_calendar.rb
  tenant/omu/db/event_types.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Complete controller actions and views for calendar_event
  app/controllers/calendar_management/calendars_controller.rb
  app/helpers/timezone_helper.rb
  app/models/calendar.rb
  app/models/unit_calendar.rb
  app/views/calendar_management/calendars/_calendar_event_fields.html.erb
  app/views/calendar_management/calendars/_form.html.erb
  app/views/calendar_management/calendars/edit.html.erb
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/new.html.erb
  app/views/calendar_management/calendars/show.html.erb
  config/locales/controllers/calendar_management/academic_terms.en.yml
  config/locales/controllers/calendar_management/academic_terms.tr.yml
  config/locales/controllers/calendar_management/calendar_event_types.en.yml
  config/locales/controllers/calendar_management/calendar_event_types.tr.yml
  config/locales/controllers/calendar_management/calendar_events.en.yml
  config/locales/controllers/calendar_management/calendar_events.tr.yml
  config/locales/controllers/calendar_management/calendars.en.yml
  config/locales/controllers/calendar_management/calendars.tr.yml
  config/routes/academic_calendar.rb
  db/beta_seed/calendar.rb
  test/models/unit_calendar_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Complete controller actions and views for calendar_event
  app/controllers/calendar_management/calendars_controller.rb
  app/helpers/timezone_helper.rb
  app/models/calendar.rb
  app/models/unit_calendar.rb
  app/views/calendar_management/calendars/_calendar_event_fields.html.erb
  app/views/calendar_management/calendars/_form.html.erb
  app/views/calendar_management/calendars/edit.html.erb
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/new.html.erb
  app/views/calendar_management/calendars/show.html.erb
  config/locales/controllers/calendar_management/academic_terms.en.yml
  config/locales/controllers/calendar_management/academic_terms.tr.yml
  config/locales/controllers/calendar_management/calendar_event_types.en.yml
  config/locales/controllers/calendar_management/calendar_event_types.tr.yml
  config/locales/controllers/calendar_management/calendar_events.en.yml
  config/locales/controllers/calendar_management/calendar_events.tr.yml
  config/locales/controllers/calendar_management/calendars.en.yml
  config/locales/controllers/calendar_management/calendars.tr.yml
  config/routes/academic_calendar.rb
  db/beta_seed/calendar.rb
  test/models/unit_calendar_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add wicked_pdf GEM
  Gemfile
  Gemfile.lock
  app/controllers/calendar_management/calendars_controller.rb
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/show.pdf.erb
  app/views/layouts/pdf.html.erb
  config/initializers/wicked_pdf.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add wicked_pdf GEM
  Gemfile
  Gemfile.lock
  app/controllers/calendar_management/calendars_controller.rb
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/show.pdf.erb
  app/views/layouts/pdf.html.erb
  config/initializers/wicked_pdf.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add PDF export buttons
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/show.html.erb
  config/locales/controllers/calendar_management/calendars.tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add PDF export buttons
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/show.html.erb
  config/locales/controllers/calendar_management/calendars.tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Rename course criterion type
  app/controllers/course_management/course_evaluation_criterion_types_controller.rb
  app/models/course_evaluation_criterion_type.rb
  app/views/course_management/course_evaluation_criterion_types/_form.html.erb
  app/views/course_management/course_evaluation_criterion_types/edit.html.erb
  app/views/course_management/course_evaluation_criterion_types/index.html.erb
  app/views/course_management/course_evaluation_criterion_types/new.html.erb
  app/views/layouts/shared/_sidebar.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  config/routes/course_management.rb
  db/migrate/20181225103307_create_course_criterion_types.rb
  db/migrate/20181225103307_create_course_evaluation_criterion_types.rb
  db/structure.sql
  test/controllers/course_management/course_criterion_types_controller_test.rb
  test/controllers/course_management/course_evaluation_criterion_types_controller_test.rb
  test/fixtures/course_evaluation_criterion_types.yml
  test/models/course_evaluation_criterion_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Rename course criterion type
  app/controllers/course_management/course_evaluation_criterion_types_controller.rb
  app/models/course_evaluation_criterion_type.rb
  app/views/course_management/course_evaluation_criterion_types/_form.html.erb
  app/views/course_management/course_evaluation_criterion_types/edit.html.erb
  app/views/course_management/course_evaluation_criterion_types/index.html.erb
  app/views/course_management/course_evaluation_criterion_types/new.html.erb
  app/views/layouts/shared/_sidebar.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  config/routes/course_management.rb
  db/migrate/20181225103307_create_course_criterion_types.rb
  db/migrate/20181225103307_create_course_evaluation_criterion_types.rb
  db/structure.sql
  test/controllers/course_management/course_criterion_types_controller_test.rb
  test/controllers/course_management/course_evaluation_criterion_types_controller_test.rb
  test/fixtures/course_evaluation_criterion_types.yml
  test/models/course_evaluation_criterion_type_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Install wkhtmltopdf
  Dockerfile
  Vagrantfile
Owners: @roktas, @huseyin, @ecylmz, @sinansh

Install wkhtmltopdf
  Dockerfile
  Vagrantfile
Owners: @roktas, @huseyin, @ecylmz, @sinansh

Improve Dockerfile
  Dockerfile
Owners: none

Improve Dockerfile
  Dockerfile
Owners: none

Calendars can be assigned to units
  app/controllers/calendar_management/calendars_controller.rb
  app/models/calendar.rb
  app/models/calendar_event_type.rb
  app/models/unit.rb
  app/models/unit_calendar.rb
  app/models/unit_type.rb
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/show.html.erb
  app/views/calendar_management/calendars/units.html.erb
  config/environments/development.rb
  config/locales/controllers/calendar_management/calendars.en.yml
  config/locales/controllers/calendar_management/calendars.tr.yml
  config/routes.rb
  config/routes/calendar_management.rb
  doc/er-diagrams/NokulDiagram.xml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Calendars can be assigned to units
  app/controllers/calendar_management/calendars_controller.rb
  app/models/calendar.rb
  app/models/calendar_event_type.rb
  app/models/unit.rb
  app/models/unit_calendar.rb
  app/models/unit_type.rb
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/show.html.erb
  app/views/calendar_management/calendars/units.html.erb
  config/environments/development.rb
  config/locales/controllers/calendar_management/calendars.en.yml
  config/locales/controllers/calendar_management/calendars.tr.yml
  config/routes.rb
  config/routes/calendar_management.rb
  doc/er-diagrams/NokulDiagram.xml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Move academic_terms to references
  app/controllers/references/academic_terms_controller.rb
  app/views/layouts/shared/_sidebar.html.erb
  app/views/references/academic_terms/_form.html.erb
  app/views/references/academic_terms/edit.html.erb
  app/views/references/academic_terms/index.html.erb
  app/views/references/academic_terms/new.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/references/academic_terms.en.yml
  config/locales/models/references/academic_terms.tr.yml
  config/routes/calendar_management.rb
  config/routes/references.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Move academic_terms to references
  app/controllers/references/academic_terms_controller.rb
  app/views/layouts/shared/_sidebar.html.erb
  app/views/references/academic_terms/_form.html.erb
  app/views/references/academic_terms/edit.html.erb
  app/views/references/academic_terms/index.html.erb
  app/views/references/academic_terms/new.html.erb
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/layouts/shared/sidebar_tr.yml
  config/locales/models/references/academic_terms.en.yml
  config/locales/models/references/academic_terms.tr.yml
  config/routes/calendar_management.rb
  config/routes/references.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add calendar_event validator
  app/validators/calendar_event_validator.rb
  test/models/academic_term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add calendar_event validator
  app/validators/calendar_event_validator.rb
  test/models/academic_term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Minor changes and fixes on tests
  .rubocop.yml
  app/controllers/calendar_management/calendars_controller.rb
  app/decorators/prospective_student_decorator.rb
  app/models/calendar.rb
  app/models/calendar_event.rb
  app/models/student.rb
  app/models/unit_calendar.rb
  app/views/student_management/prospective_students/_search.html.erb
  app/views/student_management/prospective_students/show.html.erb
  tenant/omu/db/event_types.yml
  test/controllers/references/academic_terms_controller_test.rb
  test/decorators/prospective_student_decorator_test.rb
  test/fixtures/academic_terms.yml
  test/models/calendar_event_test.rb
  test/models/language_test.rb
  test/models/student_test.rb
Owners: @msdundar, @roktas, @isubas, @ecmelkytz, @dilara, @sinansh

Minor changes and fixes on tests
  .rubocop.yml
  app/controllers/calendar_management/calendars_controller.rb
  app/decorators/prospective_student_decorator.rb
  app/models/calendar.rb
  app/models/calendar_event.rb
  app/models/student.rb
  app/models/unit_calendar.rb
  app/views/student_management/prospective_students/_search.html.erb
  app/views/student_management/prospective_students/show.html.erb
  tenant/omu/db/event_types.yml
  test/controllers/references/academic_terms_controller_test.rb
  test/decorators/prospective_student_decorator_test.rb
  test/fixtures/academic_terms.yml
  test/models/calendar_event_test.rb
  test/models/language_test.rb
  test/models/student_test.rb
Owners: @msdundar, @roktas, @isubas, @ecmelkytz, @dilara, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Birinci Öğretim to Normal Öğretim
  db/static_data/units.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Change unit_type_id field
  db/static_data/units.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Improve database configuration
  config/database.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix typos, bugs and inconsistent behavior in calendar
  app/decorators/prospective_student_decorator.rb
  app/models/calendar.rb
  app/models/calendar_event.rb
  app/models/calendar_event_type.rb
  app/models/unit.rb
  app/models/unit_calendar.rb
  app/validators/calendar_event_validator.rb
  app/views/calendar_management/calendars/_cocoon.html.erb
  app/views/calendar_management/calendars/_flatpickr.html.erb
  app/views/calendar_management/calendars/_form.html.erb
  app/views/calendar_management/calendars/show.html.erb
  app/views/calendar_management/calendars/show.pdf.erb
  config/locales/controllers/calendar_management/calendars.en.yml
  config/locales/validators/en.yml
  config/locales/validators/tr.yml
  db/beta_seed/calendar.rb
  db/migrate/20181225180258_create_calendar_event_types.rb
  db/migrate/20181225201818_create_calendar_events.rb
  db/seeds.rb
  db/structure.sql
  tenant/omu/db/event_types.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix typos, bugs and inconsistent behavior in calendar
  app/decorators/prospective_student_decorator.rb
  app/models/calendar.rb
  app/models/calendar_event.rb
  app/models/calendar_event_type.rb
  app/models/unit.rb
  app/models/unit_calendar.rb
  app/validators/calendar_event_validator.rb
  app/views/calendar_management/calendars/_cocoon.html.erb
  app/views/calendar_management/calendars/_flatpickr.html.erb
  app/views/calendar_management/calendars/_form.html.erb
  app/views/calendar_management/calendars/show.html.erb
  app/views/calendar_management/calendars/show.pdf.erb
  config/locales/controllers/calendar_management/calendars.en.yml
  config/locales/validators/en.yml
  config/locales/validators/tr.yml
  db/beta_seed/calendar.rb
  db/migrate/20181225180258_create_calendar_event_types.rb
  db/migrate/20181225201818_create_calendar_events.rb
  db/seeds.rb
  db/structure.sql
  tenant/omu/db/event_types.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Extract application name code into the config/application.rb
  config/application.rb
  config/database.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh
