Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

Default environment should be beta
  lib/scripts/paas.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Default environment should be beta
  lib/scripts/paas.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Start with unoptimized solution
  Dockerfile
Owners: none

Start with unoptimized solution
  Dockerfile
Owners: none

Git ignore bin/dokku
  .gitignore
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Git ignore bin/dokku
  .gitignore
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Group plugins to be able to bundle install without plugins
  Gemfile
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Group plugins to be able to bundle install without plugins
  Gemfile
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Bundle update
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Bundle update
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Bundle install without plugins
  Dockerfile
Owners: none

Bundle install without plugins
  Dockerfile
Owners: none

Hmmm
  Dockerfile
Owners: none

Hmmm
  Dockerfile
Owners: none

Hmmm
  Dockerfile
Owners: none

Hmmm
  Dockerfile
Owners: none

Start README
  plugins/support/README.md
Owners: none

Start README
  plugins/support/README.md
Owners: none

Test
  Dockerfile
Owners: none

Test
  Dockerfile
Owners: none

Untest
  Dockerfile
Owners: none

Untest
  Dockerfile
Owners: none

Add binstubs to PATH
  Dockerfile
Owners: none

Add binstubs to PATH
  Dockerfile
Owners: none

Only NOKUL_TENANT should be taken into account
  Dockerfile
Owners: none

Only NOKUL_TENANT should be taken into account
  Dockerfile
Owners: none

Enable bundler silence_root_warning
  Dockerfile
Owners: none

Enable bundler silence_root_warning
  Dockerfile
Owners: none

Encode all units having students
  plugins/tenant/common/lib/nokul/tenant/units/coder.rb
  plugins/tenant/common/lib/nokul/tenant/units/concerns/predicable.rb
Owners: none

Encode all units having students
  plugins/tenant/common/lib/nokul/tenant/units/coder.rb
  plugins/tenant/common/lib/nokul/tenant/units/concerns/predicable.rb
Owners: none

All units having students must be abbreviated
  plugins/tenant/common/lib/nokul/tenant/units/concerns/abbreviatable.rb
Owners: none

All units having students must be abbreviated
  plugins/tenant/common/lib/nokul/tenant/units/concerns/abbreviatable.rb
Owners: none

Update units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Gemfile'da plugins grubunu kaldır
  Dockerfile
  Gemfile
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Gemfile'da plugins grubunu kaldır
  Dockerfile
  Gemfile
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Yereldeki paas denemeleri için DISABLE_SSL ortam değişkeni ayarla
  config/environments/beta.rb
  lib/scripts/paas.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Yereldeki paas denemeleri için DISABLE_SSL ortam değişkeni ayarla
  config/environments/beta.rb
  lib/scripts/paas.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Uygulamaya özgü ortam değişkenlerini NOKUL_ ile ön ekle
  config/environments/beta.rb
  lib/scripts/paas.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Uygulamaya özgü ortam değişkenlerini NOKUL_ ile ön ekle
  config/environments/beta.rb
  lib/scripts/paas.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh
