Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

Support overwriting district_id
  plugins/tenant/common/lib/nokul/tenant/units/concerns/src_one.rb
Owners: none

Support overwriting district_id
  plugins/tenant/common/lib/nokul/tenant/units/concerns/src_one.rb
Owners: none

Update units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

tenant/omu: Bundle update
  plugins/tenant/omu/Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

tenant/omu: Bundle update
  plugins/tenant/omu/Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Ensure all tenant tests are green
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/abbreviatable.rb
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/src_many.rb
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/tree.rb
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Ensure all tenant tests are green
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/abbreviatable.rb
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/src_many.rb
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/tree.rb
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Fix Rubocop offenses
  plugins/support/.rubocop.yml
  plugins/tenant/common/.rubocop.yml
  plugins/tenant/common/lib/nokul/tenant/units/concerns/one.rb
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/abbreviatable.rb
  plugins/tenant/omu/.rubocop.yml
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Fix Rubocop offenses
  plugins/support/.rubocop.yml
  plugins/tenant/common/.rubocop.yml
  plugins/tenant/common/lib/nokul/tenant/units/concerns/one.rb
  plugins/tenant/common/lib/nokul/tenant/units/tests/concerns/abbreviatable.rb
  plugins/tenant/omu/.rubocop.yml
Owners: @msdundar, @roktas, @isubas, @ecmelkytz

Fix Rubocop offenses
  db/beta_seed/calendar.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix Rubocop offenses
  db/beta_seed/calendar.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix controller test
  test/controllers/committee/meetings_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix controller test
  test/controllers/committee/meetings_controller_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

det.yml ve yok.yml'da düzeltmeler yap
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

det.yml ve yok.yml'da düzeltmeler yap
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Fix unbalanced quotes
  plugins/tenant/omu/db/units/src/det.yml
Owners: none

Fix unbalanced quotes
  plugins/tenant/omu/db/units/src/det.yml
Owners: none

Fix auto unit type detection logic
  plugins/tenant/common/lib/nokul/tenant/units/raw/det_many.rb
Owners: none

Fix auto unit type detection logic
  plugins/tenant/common/lib/nokul/tenant/units/raw/det_many.rb
Owners: none

Update units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Add kludge to properly capitalize dashed strings
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
Owners: none

Add kludge to properly capitalize dashed strings
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
Owners: none

Update units
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Improve database configuration
  config/database.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Improve database configuration
  config/database.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Improve assets initializer
  config/initializers/assets.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Improve assets initializer
  config/initializers/assets.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove duplicate line
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove duplicate line
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Replace TENANT_DEFAULT with DEFAULT_TENANT
  config/application.rb
  lib/nokul.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Replace TENANT_DEFAULT with DEFAULT_TENANT
  config/application.rb
  lib/nokul.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove redundant Gem grouping
  Gemfile
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove redundant Gem grouping
  Gemfile
  config/application.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Bundle update
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Bundle update
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove test code
  plugins/tenant/omu/app/.keep
  plugins/tenant/omu/app/controllers/welcome_controller.rb
Owners: none

Remove test code
  plugins/tenant/omu/app/.keep
  plugins/tenant/omu/app/controllers/welcome_controller.rb
Owners: none

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh
