Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

Create assessment method controller test
  db/beta_seed/assessment_method.rb
  test/controllers/admin/assessment_method_controller_test.rb
  test/fixtures/assessment_methods.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create assessment method controller test
  db/beta_seed/assessment_method.rb
  test/controllers/admin/assessment_method_controller_test.rb
  test/fixtures/assessment_methods.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Minor change
  app/views/calendar_management/calendars/units.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Minor change
  app/views/calendar_management/calendars/units.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create course evaluation types controller test
  test/controllers/course_management/course_evaluation_types_controller_test.rb
  test/fixtures/available_courses.yml
  test/fixtures/course_evaluation_types.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Create course evaluation types controller test
  test/controllers/course_management/course_evaluation_types_controller_test.rb
  test/fixtures/available_courses.yml
  test/fixtures/course_evaluation_types.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Split course management locales
  config/locales/controllers/admin/evaluation_types.tr.yml
  config/locales/controllers/course_management/available_course_groups.en.yml
  config/locales/controllers/course_management/available_course_groups.tr.yml
  config/locales/controllers/course_management/available_course_lecturers.en.yml
  config/locales/controllers/course_management/available_course_lecturers.tr.yml
  config/locales/controllers/course_management/available_courses.en.yml
  config/locales/controllers/course_management/available_courses.tr.yml
  config/locales/controllers/course_management/course_assessment_methods.en.yml
  config/locales/controllers/course_management/course_assessment_methods.tr.yml
  config/locales/controllers/course_management/course_evaluation_types.en.yml
  config/locales/controllers/course_management/course_evaluation_types.tr.yml
  config/locales/controllers/course_management/course_group_types.en.yml
  config/locales/controllers/course_management/course_group_types.tr.yml
  config/locales/controllers/course_management/course_groups.en.yml
  config/locales/controllers/course_management/course_groups.tr.yml
  config/locales/controllers/course_management/course_types.en.yml
  config/locales/controllers/course_management/course_types.tr.yml
  config/locales/controllers/course_management/courses.en.yml
  config/locales/controllers/course_management/courses.tr.yml
  config/locales/controllers/course_management/curriculum_course_groups.en.yml
  config/locales/controllers/course_management/curriculum_course_groups.tr.yml
  config/locales/controllers/course_management/curriculum_courses.en.yml
  config/locales/controllers/course_management/curriculum_courses.tr.yml
  config/locales/controllers/course_management/curriculum_semester.en.yml
  config/locales/controllers/course_management/curriculum_semester.tr.yml
  config/locales/controllers/course_management/curriculums.en.yml
  config/locales/controllers/course_management/curriculums.tr.yml
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Split course management locales
  config/locales/controllers/admin/evaluation_types.tr.yml
  config/locales/controllers/course_management/available_course_groups.en.yml
  config/locales/controllers/course_management/available_course_groups.tr.yml
  config/locales/controllers/course_management/available_course_lecturers.en.yml
  config/locales/controllers/course_management/available_course_lecturers.tr.yml
  config/locales/controllers/course_management/available_courses.en.yml
  config/locales/controllers/course_management/available_courses.tr.yml
  config/locales/controllers/course_management/course_assessment_methods.en.yml
  config/locales/controllers/course_management/course_assessment_methods.tr.yml
  config/locales/controllers/course_management/course_evaluation_types.en.yml
  config/locales/controllers/course_management/course_evaluation_types.tr.yml
  config/locales/controllers/course_management/course_group_types.en.yml
  config/locales/controllers/course_management/course_group_types.tr.yml
  config/locales/controllers/course_management/course_groups.en.yml
  config/locales/controllers/course_management/course_groups.tr.yml
  config/locales/controllers/course_management/course_types.en.yml
  config/locales/controllers/course_management/course_types.tr.yml
  config/locales/controllers/course_management/courses.en.yml
  config/locales/controllers/course_management/courses.tr.yml
  config/locales/controllers/course_management/curriculum_course_groups.en.yml
  config/locales/controllers/course_management/curriculum_course_groups.tr.yml
  config/locales/controllers/course_management/curriculum_courses.en.yml
  config/locales/controllers/course_management/curriculum_courses.tr.yml
  config/locales/controllers/course_management/curriculum_semester.en.yml
  config/locales/controllers/course_management/curriculum_semester.tr.yml
  config/locales/controllers/course_management/curriculums.en.yml
  config/locales/controllers/course_management/curriculums.tr.yml
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade dependencies
  Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove redundant reek config
  config.reek
Owners: none

Remove redundant reek config
  config.reek
Owners: none

Set coordinator field of available course as required
  app/models/available_course.rb
  test/controllers/accounts/employees_controller_test.rb
  test/controllers/course_management/available_courses_controller_test.rb
  test/fixtures/available_courses.yml
  test/fixtures/employees.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Set coordinator field of available course as required
  app/models/available_course.rb
  test/controllers/accounts/employees_controller_test.rb
  test/controllers/course_management/available_courses_controller_test.rb
  test/fixtures/available_courses.yml
  test/fixtures/employees.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Minor changes
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/show.pdf.erb
  app/views/first_registration/prospective_students/_search.html.erb
  app/views/first_registration/prospective_students/show.html.erb
  app/views/first_registration/registration_documents/index.html.erb
  app/views/layouts/application.html.erb
  config/locales/controllers/calendar_management/calendars.en.yml
  config/locales/controllers/calendar_management/calendars.tr.yml
  doc/development/installation.md
  public/apple-touch-icon-precomposed.png
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Minor changes
  app/views/calendar_management/calendars/index.html.erb
  app/views/calendar_management/calendars/show.pdf.erb
  app/views/first_registration/prospective_students/_search.html.erb
  app/views/first_registration/prospective_students/show.html.erb
  app/views/first_registration/registration_documents/index.html.erb
  app/views/layouts/application.html.erb
  config/locales/controllers/calendar_management/calendars.en.yml
  config/locales/controllers/calendar_management/calendars.tr.yml
  doc/development/installation.md
  public/apple-touch-icon-precomposed.png
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh, @roktas

Sidebarda oluşan hatayı düzelt
  app/views/layouts/shared/_sidebar.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Sidebarda oluşan hatayı düzelt
  app/views/layouts/shared/_sidebar.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Minor improvements
  .rubocop.yml
  app/controllers/admin/assessment_methods_controller.rb
  app/controllers/admin/document_types_controller.rb
  app/controllers/admin/evaluation_types_controller.rb
  app/controllers/admin/languages_controller.rb
  app/controllers/admin/titles_controller.rb
  app/models/assessment_method.rb
  app/models/course_evaluation_type.rb
  app/validators/course_evaluation_type_validator.rb
  config/locales/controllers/admin/assessment_methods.en.yml
  config/locales/controllers/admin/assessment_methods.tr.yml
  config/locales/controllers/admin/evaluation_types.en.yml
  config/locales/controllers/admin/evaluation_types.tr.yml
  config/routes/admin.rb
  test/models/assessment_method_test.rb
  test/models/course_evaluation_type_test.rb
  test/models/evaluation_type_test.rb
Owners: @msdundar, @roktas, @isubas, @ecmelkytz, @dilara, @sinansh

Minor improvements
  .rubocop.yml
  app/controllers/admin/assessment_methods_controller.rb
  app/controllers/admin/document_types_controller.rb
  app/controllers/admin/evaluation_types_controller.rb
  app/controllers/admin/languages_controller.rb
  app/controllers/admin/titles_controller.rb
  app/models/assessment_method.rb
  app/models/course_evaluation_type.rb
  app/validators/course_evaluation_type_validator.rb
  config/locales/controllers/admin/assessment_methods.en.yml
  config/locales/controllers/admin/assessment_methods.tr.yml
  config/locales/controllers/admin/evaluation_types.en.yml
  config/locales/controllers/admin/evaluation_types.tr.yml
  config/routes/admin.rb
  test/models/assessment_method_test.rb
  test/models/course_evaluation_type_test.rb
  test/models/evaluation_type_test.rb
Owners: @msdundar, @roktas, @isubas, @ecmelkytz, @dilara, @sinansh

Minor changes
  config/locales/controllers/course_management/curriculum_semester.tr.yml
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  db/migrate/20181019082622_create_curriculum_semesters.rb
  db/migrate/20190110113630_add_term_to_curriculum_semester.rb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Minor changes
  config/locales/controllers/course_management/curriculum_semester.tr.yml
  config/locales/layouts/shared/sidebar_en.yml
  config/locales/models/course_management/en.yml
  config/locales/models/course_management/tr.yml
  db/migrate/20181019082622_create_curriculum_semesters.rb
  db/migrate/20190110113630_add_term_to_curriculum_semester.rb
  db/structure.sql
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove redundant resources
  config/routes/references.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Remove redundant resources
  config/routes/references.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Link helper'ını iyileştir
  app/helpers/link_helper.rb
  app/views/account/addresses/index.html.erb
  app/views/account/identities/index.html.erb
  app/views/admin/cities/show.html.erb
  app/views/admin/countries/show.html.erb
  app/views/calendar_management/calendars/index.html.erb
  app/views/committee/agenda_types/index.html.erb
  app/views/committee/agendas/index.html.erb
  app/views/committee/decisions/show.html.erb
  app/views/committee/meetings/index.html.erb
  app/views/committee/meetings/show.html.erb
  app/views/course_management/available_courses/_evaluation_types.html.erb
  app/views/course_management/available_courses/_groups.html.erb
  app/views/course_management/available_courses/index.html.erb
  app/views/course_management/course_group_types/index.html.erb
  app/views/course_management/course_groups/index.html.erb
  app/views/course_management/course_types/index.html.erb
  app/views/course_management/courses/index.html.erb
  app/views/course_management/curriculums/_semesters.html.erb
  app/views/course_management/curriculums/index.html.erb
  app/views/first_registration/registration_documents/index.html.erb
  app/views/home/index.html.erb
  app/views/layouts/builders/_index.html.erb
  app/views/references/academic_terms/index.html.erb
  app/views/references/terms/index.html.erb
  app/views/users/_addresses.html.erb
  app/views/users/_identities.html.erb
  app/views/users/index.html.erb
  config/locales/defaults/en.yml
  config/locales/defaults/tr.yml
  test/helpers/link_helper_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Link helper'ını iyileştir
  app/helpers/link_helper.rb
  app/views/account/addresses/index.html.erb
  app/views/account/identities/index.html.erb
  app/views/admin/cities/show.html.erb
  app/views/admin/countries/show.html.erb
  app/views/calendar_management/calendars/index.html.erb
  app/views/committee/agenda_types/index.html.erb
  app/views/committee/agendas/index.html.erb
  app/views/committee/decisions/show.html.erb
  app/views/committee/meetings/index.html.erb
  app/views/committee/meetings/show.html.erb
  app/views/course_management/available_courses/_evaluation_types.html.erb
  app/views/course_management/available_courses/_groups.html.erb
  app/views/course_management/available_courses/index.html.erb
  app/views/course_management/course_group_types/index.html.erb
  app/views/course_management/course_groups/index.html.erb
  app/views/course_management/course_types/index.html.erb
  app/views/course_management/courses/index.html.erb
  app/views/course_management/curriculums/_semesters.html.erb
  app/views/course_management/curriculums/index.html.erb
  app/views/first_registration/registration_documents/index.html.erb
  app/views/home/index.html.erb
  app/views/layouts/builders/_index.html.erb
  app/views/references/academic_terms/index.html.erb
  app/views/references/terms/index.html.erb
  app/views/users/_addresses.html.erb
  app/views/users/_identities.html.erb
  app/views/users/index.html.erb
  config/locales/defaults/en.yml
  config/locales/defaults/tr.yml
  test/helpers/link_helper_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.
  app/views/units/index.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.
  app/views/units/index.html.erb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Açılan ders ekleme formunda aktif dönem derslerini listele
  app/controllers/course_management/curriculums_controller.rb
  app/decorators/curriculum_decorator.rb
  app/views/course_management/available_courses/_form.html.erb
  app/views/course_management/available_courses/_js.html.erb
  config/routes/course_management.rb
  test/controllers/course_management/curriculums_controller_test.rb
  test/decorators/curriculum_decorator_test.rb
  test/fixtures/courses.yml
  test/fixtures/curriculum_courses.yml
  test/models/curriculum_semester_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Açılan ders ekleme formunda aktif dönem derslerini listele
  app/controllers/course_management/curriculums_controller.rb
  app/decorators/curriculum_decorator.rb
  app/views/course_management/available_courses/_form.html.erb
  app/views/course_management/available_courses/_js.html.erb
  config/routes/course_management.rb
  test/controllers/course_management/curriculums_controller_test.rb
  test/decorators/curriculum_decorator_test.rb
  test/fixtures/courses.yml
  test/fixtures/curriculum_courses.yml
  test/models/curriculum_semester_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Yalnızca bir akademik dönemin aktif olmasını sağla
  app/models/academic_term.rb
  app/validators/academic_term_validator.rb
  config/locales/validators/en.yml
  config/locales/validators/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Yalnızca bir akademik dönemin aktif olmasını sağla
  app/models/academic_term.rb
  app/validators/academic_term_validator.rb
  config/locales/validators/en.yml
  config/locales/validators/tr.yml
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix a bug in identity_save_job
  app/jobs/kps/identity_save_job.rb
  app/models/address.rb
  app/models/employee.rb
  app/models/identity.rb
  app/models/user.rb
  app/views/layouts/builders/_form.html.erb
  app/views/studies/articles/index.html.erb
  config/locales/controllers/admin/unit_types.en.yml
  config/locales/controllers/admin/unit_types.tr.yml
  test/models/address_test.rb
  test/models/calendar_event_type_test.rb
  test/models/calendar_test.rb
  test/models/city_test.rb
  test/models/identity_test.rb
  test/models/user_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix a bug in identity_save_job
  app/jobs/kps/identity_save_job.rb
  app/models/address.rb
  app/models/employee.rb
  app/models/identity.rb
  app/models/user.rb
  app/views/layouts/builders/_form.html.erb
  app/views/studies/articles/index.html.erb
  config/locales/controllers/admin/unit_types.en.yml
  config/locales/controllers/admin/unit_types.tr.yml
  test/models/address_test.rb
  test/models/calendar_event_type_test.rb
  test/models/calendar_test.rb
  test/models/city_test.rb
  test/models/identity_test.rb
  test/models/user_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add new tests for academic term
  test/fixtures/academic_terms.yml
  test/models/academic_term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add new tests for academic term
  test/fixtures/academic_terms.yml
  test/models/academic_term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.
  app/models/academic_term.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.
  app/models/academic_term.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix test and rubocop offence
  app/models/academic_term.rb
  test/models/academic_term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Fix test and rubocop offence
  app/models/academic_term.rb
  test/models/academic_term_test.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh
