Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh

Bump Ruby version to 2.6.0
  .ruby-version
Owners: @roktas, @isubas, @ecmelkytz, @huseyin, @ecylmz, @sinansh

Bump Ruby version to 2.6.0
  .ruby-version
Owners: @roktas, @isubas, @ecmelkytz, @huseyin, @ecylmz, @sinansh

Bump base container version to 0.11.0
  Dockerfile
Owners: none

Bump base container version to 0.11.0
  Dockerfile
Owners: none

No need to install wkhtmltox for Vagrant
  lib/scripts/preinst.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

No need to install wkhtmltox for Vagrant
  lib/scripts/preinst.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade to Bundler 2
  Gemfile.lock
  plugins/support/Gemfile.lock
  plugins/tenant/common/Gemfile.lock
  plugins/tenant/omu/Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Upgrade to Bundler 2
  Gemfile.lock
  plugins/support/Gemfile.lock
  plugins/tenant/common/Gemfile.lock
  plugins/tenant/omu/Gemfile.lock
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh
