Repository omu/nokul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msdundar, @roktas, @huseyin, @ecylmz, @sinansh, @isubas, @ecmelkytz, @dilara

.github/CODEOWNERS:

# OPs team
.circleci @msdundar @roktas @huseyin @ecylmz
.buildpacks @roktas @huseyin @ecylmz @sinansh
.ruby-version @roktas @isubas @ecmelkytz @huseyin @ecylmz @sinansh
Vagrantfile @roktas @huseyin @ecylmz @sinansh

# Guides, rules and docs
.github @msdundar @roktas @isubas @ecmelkytz
.codebeatsettings @msdundar @roktas @isubas @ecmelkytz
.gitignore @msdundar @roktas @isubas @ecmelkytz
.rubocop.yml @msdundar @roktas @isubas @ecmelkytz
/doc/ @msdundar @roktas @isubas @ecmelkytz

# Back-end
/app/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/config/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/db/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/lib/ @msdundar @ecmelkytz @dilara @isubas @sinansh
/test/ @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile @msdundar @ecmelkytz @dilara @isubas @sinansh
Gemfile.lock @msdundar @ecmelkytz @dilara @isubas @sinansh
package.json @msdundar @ecmelkytz @dilara @isubas @sinansh

Use Nokul::Support namespace
  lib/tasks/import/countries.rake
  lib/tasks/import/high_school_types.rake
  lib/tasks/import/languages.rake
  lib/tasks/import/titles.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Use Nokul::Support namespace
  lib/tasks/import/countries.rake
  lib/tasks/import/high_school_types.rake
  lib/tasks/import/languages.rake
  lib/tasks/import/titles.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Yet another tenant configuration change
  lib/tasks/import/units.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Yet another tenant configuration change
  lib/tasks/import/units.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add previous RestClient to Nokul::Support
  plugins/support/lib/nokul/support/rest_client.rb
Owners: none

Add previous RestClient to Nokul::Support
  plugins/support/lib/nokul/support/rest_client.rb
Owners: none

Use capitalize_turkish
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
  plugins/tenant/common/lib/nokul/tenant/units/raw/det_many.rb
  plugins/tenant/common/lib/nokul/tenant/units/raw/yok_many.rb
Owners: none

Use capitalize_turkish
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
  plugins/tenant/common/lib/nokul/tenant/units/raw/det_many.rb
  plugins/tenant/common/lib/nokul/tenant/units/raw/yok_many.rb
Owners: none

Tenant must be activated before running config/initializers
  plugins/tenant/common/lib/nokul/tenant/engine.rb
Owners: none

Tenant must be activated before running config/initializers
  plugins/tenant/common/lib/nokul/tenant/engine.rb
Owners: none

Nokul version must be statically written
  config/initializers/git_version.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Nokul version must be statically written
  config/initializers/git_version.rb
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Rearrange scripts to weaken the dependency on Vagrant
  Vagrantfile
  lib/scripts/.keep
  lib/scripts/deploy.sh
  lib/scripts/environment.sh
  lib/scripts/paas.sh
  lib/scripts/preinst.sh
  lib/scripts/vagrant/depends.sh
Owners: @roktas, @huseyin, @ecylmz, @sinansh, @msdundar, @ecmelkytz, @dilara, @isubas

Rearrange scripts to weaken the dependency on Vagrant
  Vagrantfile
  lib/scripts/.keep
  lib/scripts/deploy.sh
  lib/scripts/environment.sh
  lib/scripts/paas.sh
  lib/scripts/preinst.sh
  lib/scripts/vagrant/depends.sh
Owners: @roktas, @huseyin, @ecylmz, @sinansh, @msdundar, @ecmelkytz, @dilara, @isubas

Fix name
  Vagrantfile
Owners: @roktas, @huseyin, @ecylmz, @sinansh

Fix name
  Vagrantfile
Owners: @roktas, @huseyin, @ecylmz, @sinansh

Add Support shortcut for Nokul::Support for convenience
  app/jobs/osym/import_prospective_students_job.rb
  app/services/xokul/connection.rb
  db/beta_seed/curriculum.rb
  lib/nokul.rb
  lib/tasks/fetch/fetch_academic_staff.rake
  lib/tasks/import/countries.rake
  lib/tasks/import/high_school_types.rake
  lib/tasks/import/languages.rake
  lib/tasks/import/titles.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add Support shortcut for Nokul::Support for convenience
  app/jobs/osym/import_prospective_students_job.rb
  app/services/xokul/connection.rb
  db/beta_seed/curriculum.rb
  lib/nokul.rb
  lib/tasks/fetch/fetch_academic_staff.rake
  lib/tasks/import/countries.rake
  lib/tasks/import/high_school_types.rake
  lib/tasks/import/languages.rake
  lib/tasks/import/titles.rake
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Documentation [WIP]
  plugins/support/doc/collection.md
  plugins/support/doc/simple.md
  plugins/support/doc/structure.md
  plugins/support/doc/uniq_collection.md
Owners: none

Documentation [WIP]
  plugins/support/doc/collection.md
  plugins/support/doc/simple.md
  plugins/support/doc/structure.md
  plugins/support/doc/uniq_collection.md
Owners: none

Fix left over core_ext
  plugins/support/lib/nokul/support/core_ext/string.rb
Owners: none

Fix left over core_ext
  plugins/support/lib/nokul/support/core_ext/string.rb
Owners: none

Enhance fix after capitalize patterns
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
Owners: none

Enhance fix after capitalize patterns
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
Owners: none

Update unit data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update unit data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Add capitalize_turkish_with_paranthesised method
  plugins/support/lib/nokul/support/core_ext/string.rb
Owners: none

Add capitalize_turkish_with_paranthesised method
  plugins/support/lib/nokul/support/core_ext/string.rb
Owners: none

Simplify fix after capitalize patterns
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
Owners: none

Simplify fix after capitalize patterns
  plugins/tenant/common/lib/nokul/tenant/units/concerns/raw_many.rb
Owners: none

Update units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

No need to load /etc/environment
  lib/scripts/deploy.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

No need to load /etc/environment
  lib/scripts/deploy.sh
Owners: @msdundar, @ecmelkytz, @dilara, @isubas, @sinansh

Add unit types as per https://github.com/omu/nokul/issues/644
  plugins/tenant/common/lib/nokul/tenant/units/raw/det_many.rb
Owners: none

Add unit types as per https://github.com/omu/nokul/issues/644
  plugins/tenant/common/lib/nokul/tenant/units/raw/det_many.rb
Owners: none

Update unit data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
Owners: none

Update unit data
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/det.yml
Owners: none

Update units data (thanks @begum)
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none

Update units data (thanks @begum)
  plugins/tenant/omu/db/units/src/all.yml
  plugins/tenant/omu/db/units/src/yok.yml
Owners: none
